<%= form_for(@department) do |f| %>
  <% if @department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
      <% @department.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="span11 offset well">
  <div class="form-horizontal">
    <div class="control-group">
      <%= f.label 'Department Name' %><br />
      <%= f.text_field :name %>
    </div>
    <div class="control-group">
      <%= f.submit 'Create BU', :class => "pure-button pure-button-primary"%>
      <%= link_to 'Cancel', departments_path , :class => "pure-button pure-button-primary" %>
    </div>
    <% end %>
  </div>
</div>