<html>
<head>
  <title></title>
</head>
<body>
  <div id="header">
    <div><img src="/images/fixnix.png"></div>
  </div>
  <div id="main-wrap">
    <div id="sidebar">
      <%= render :partial => "layouts/menu" %>
    </div>
    <div id="content-wrap">
      <p id="notice"><%= notice %></p>

      <p><b>Name:</b>
  		<%= @department.name %>
	  </p>
      <%= link_to 'Edit', edit_department_path(@department) , :class => "pure-button pure-button-primary" %>
      <%= link_to 'New Department', new_department_path , :class => "pure-button pure-button-primary"  %>

    </div>
  </div>
  <!--   <div id="footer">Footer</div> -->

</body>
</html>
